@font-face {
  font-family: myFirstFont;
  src: url(fonts/Angelface.otf) format("opentype");
}

:root {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(60, 60, 60, 0.87);
  background-color: #fdf5d9;
}

.fancy {
  font-family: myFirstFont;
  font-size: 4em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0.3em;
  font-weight: 100;
}

.imageLeft {
  position: fixed;
  top: 0;
  left: 0;
  width: 30vw;
  height: 100vh;
  box-shadow: inset max(-30vw, -250px) 0px 100px -100px #fdf5d9;
  background-image: url("./images/2.jpg");
  /* background-size:contain; */
  background-repeat: no-repeat;
  background-position: 100% 50%;
  @media (max-width: 1080px) {
    position: absolute;
    height: 300px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.imageRight {
  position: fixed;
  top: 0;
  right: 0;
  width: 30vw;
  height: 100vh;
  box-shadow: inset min(30vw, 250px) 0px 100px -100px #fdf5d9;
  background-image: url("./images/1.jpg");
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-position: 0% 80%;
  @media (max-width: 1080px) {
    position: absolute;
    height: 300px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

h1.fancy {
  font-size: 6em !important;
  line-height: 1.1;
}

body {
  display: grid;
  min-width: 320px;
  min-height: 100vh;
  position: relative;
}
@keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 256px 224px;
  }
}
.app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  position: relative;
  z-index: 20;
}

.appear > * {
  opacity: 0;
  transform: translate(0, 20px);
  transition: transform 1s ease-in-out;
}

.appear > *.fade-in {
  opacity: 100;
  animation: fade-in 3s;
  transform: translate(0, 0);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h6 {
  text-decoration: underline;
}

@media (prefers-reduced-motion) {
  *,
  ::before,
  ::after {
    animation: none !important;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
